{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
<style>
  html {
    scroll-behavior: smooth;
  }

  h2#services,
  h2#contact {
    scroll-margin-top: 170px;
  }
</style>

{% if page.url == "/" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "name": {{ site.title | jsonify }},
  "url": {{ site.url | jsonify }},
  "description": {{ site.description | strip_newlines | jsonify }},
  "image": {{ "/assets/images/logo-dark.png" | absolute_url | jsonify }},
  "email": {{ site.email | jsonify }},
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Timișoara",
    "addressCountry": "RO"
  },
  "founder": {
    "@type": "Person",
    "name": "Stefan Chivu",
    "jobTitle": "Cloud Solutions Architect",
    "sameAs": [
      "https://www.linkedin.com/in/stefan-chivu/",
      "https://www.github.com/stefan-chivu"
    ]
  },
  "sameAs": [
    "https://www.linkedin.com/in/stefan-chivu/",
    "https://www.github.com/stefan-chivu"
  ]
}
</script>
{% endif %}